extends layout

block content

  .jumbotron
    h1 NTW Backend
    p
      | Welcome to the National Trust for the Wounded backend portal.

  if user != null
    p Hi there, #{user.email}!
  else
    p Please login to access the portal:

