doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
  body
    .container
        .row
            .col-md-12
                .error-template
                    h1
                    | Oops!
                    h2
                    | 404 Not Found
                    .error-details
                    | Sorry, an error has occured, Requested page not found!
                    .error-actions
                    a.btn.btn-primary.btn-lg(href='http://www.jquery2dotnet.com')
                        span.glyphicon.glyphicon-home
                        |                         Take Me Home
                    a.btn.btn-default.btn-lg(href='http://www.jquery2dotnet.com')
                        span.glyphicon.glyphicon-envelope
                        |  Contact Support