extends ../layout

block content
    .container
        h2 Permission Denied
        .spacer
        p You do not have access to the page you are trying to reach. 
        p If you believe that you are receiving this message in error, please contact an administrator to correct your permissions.