extends ../layout

block content

    script.
        $(document).ready(function() {
            $('#myTable').DataTable();
            //- $('#myTable_filter').hide();
            //- $('.dataTables_length').hide();
        });
    .container
        h2 Reports: Venues
        .spacer
        #row-data-table.row
            #div-table.col-md-12
                #first
                    .dropdown.dropdown-first
                    h4#report-title Report Type
                        button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                            | Dropdown
                            span.caret
                        ul.dropdown-menu.drop-down-modal1(aria-labelledby='dropdownMenu1')
                            li
                                a(href='#') Action
                            li
                                a(href='#') Another action
                            li
                                a(href='#') Something else here
                            li.divider(role='separator')
                            li
                                a(href='#') Separated link
                #second
                    .dropdown.dropdown-second
                    h4 Start Date
                        button#dropdownMenu2.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                            | Dropdown
                            span.caret
                        ul.dropdown-menu.drop-down-modal2(aria-labelledby='dropdownMenu2')
                            li
                                a(href='#') Action
                            li
                                a(href='#') Another action
                            li
                                a(href='#') Something else here
                            li.divider(role='separator')
                            li
                                a(href='#') Separated link
                #third
                    .dropdown.dropdown-third
                    h4 End Date
                        button#dropdownMenu3.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                            | Dropdown
                            span.caret
                        ul.dropdown-menu.drop-down-modal3(aria-labelledby='dropdownMenu3')
                            li
                                a(href='#') Action
                            li
                                a(href='#') Another action
                            li
                                a(href='#') Something else here
                            li.divider(role='separator')
                            li
                                a(href='#') Separated link
                        button#btn-run.btn-primary.btn.btn-default(type='button') Run
        table#myTable.table.table-hover.table-striped.table-bordered
            thead
                tr
                    th #
                    th Venue Name
                    th Total Monies Raised
                    th Best Performing Prize
            tbody
                tr
                    th(scope='row') 1
                    td BOSS RC-1
                    td Loop
                    td Yes
                tr
                    th(scope='row') 2
                    td Line 6 DL4
                    td Delay
                    td Yes
                tr
                    th(scope='row') 3
                    td Polara
                    td Reverb
                    td Yes